<html>
    <p> 
        Please feel free to input your opinions about this app below:
    </p>
    <br>
    <br>
    <!-- This is where the user can put in their thoughts, while being able to delete or update their messages -->
    {% if greeting_list %}
        <ul>
        {% for greeting in greeting_list %}
            <li>
            {{ greeting.message }}
            <span><a href="{% url 'fitness:update' greeting.id %}">edit</a></span>
            <span><a href="{% url 'fitness:delete' greeting.id %}">delete</a></span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No blogs have been posted yet...</p>
    {% endif %}
    <a href="{% url 'fitness:create' %}">Create a New Blog</a>
</html>
