<html>
    <head>
        <title>Da Fitness App</title>
    </head>
    <body>
        <h2>What is your gender?</h2>
        <h2>How active would you say you are?</h2>
        <h2>What is your age? (enter below)</h2>
        <h2>How much do you weigh? (enter below)</h2>
        <h2>How many calories did you consume for breakfast?</h2>
        <h2>How many calories did you consume for lunch?</h2>
        <h2>How many calories did you consume for dinner?</h2>
        <h2>How many calories did you consume for snacks?</h2>
        <a href="">Press for results</a>
    </body>
</html>