<html>

<head>
    <title>Da Fitness App</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- allows dropdown menu to work -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Da Fitness App</h1>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light, border border-secondary">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'fitness:index' %}">Home</a>
            <a class="nav-item nav-link active" href="{% url 'fitness:results' %}">Daily Calorie Intake</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% if user.is_authenticated %}
                    {{request.user}}
                    {% else %}
                    Account
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}" class="ml-2">Log Out</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'accounts:login' %}" class="ml-2">Log In</a>
                    <a class="dropdown-item" href="{% url 'accounts:signup' %}" class="ml-2">Sign up</a>
                    {% endif %}
                </div>
            </li>
        </div>
    </nav>
    <!-- <a href="{% url 'accounts:login' %}" class="ml-2">Log In</a><br>
    <a href="{% url 'accounts:signup' %}" class="ml-2">Sign up</a><br>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}" class="ml-2">Log Out</a><br>
    {% endif %} -->
    <script>
        var w, h, a, act, g;
        var outputText;

        function validate() {

            // get the input
            g = document.forms["input_form"]["gterm"].value;
            act = document.forms["input_form"]["actterm"].value;
            w = document.forms["input_form"]["wterm"].value;
            h = document.forms["input_form"]["hterm"].value;
            a = document.forms["input_form"]["aterm"].value;
            // validate a, b, and c

            if (w == 0) {
                outputText = "<em>Weight</em> cannot equal zero!"
            }
            else if (h == 0) {
                outputText = "<em>Height</em> cannot equal zero!"
            }
            else if (a == 0) {
                outputText = "<em>Age</em> cannot equal zero!"
            }
            else if (isNaN(w)) {
                outputText = "<em>Weight</em> must be a number!"
            }
            else if (isNaN(h)) {
                outputText = "<em>Height</em> must be a number!"
            }
            else if (isNaN(a)) {
                outputText = "<em>Age</em> must be a number!"
            }
            else if (g == "m") {
                if (act == 1) {
                    outputText = 1.2 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                }
                else if (act == 2) {
                    outputText = 1.375 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                }
                else if (act == 3) {
                    outputText = 1.55 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                }
                else if (act == 4) {
                    outputText = 1.725 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                }
                else if (act == 5) {
                    outputText = 1.9 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                }
                else {
                    outputText = "Error! Please check <em>Question 2</em>"
                }
            }
            else if (g == "f") {
                if (act == 1) {
                    outputText = 1.2 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                }
                else if (act == 2) {
                    outputText = 1.375 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                }
                else if (act == 3) {
                    outputText = 1.55 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                }
                else if (act == 4) {
                    outputText = 1.725 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                }
                else if (act == 5) {
                    outputText = 1.9 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                }
                else {
                    outputText = "Error! Please check <em>Question 2</em>"
                }
            }
            else {
                outputText = "Error! Please check <em>Question 1</em>"
            }

            //output the result (or errors)
            document.getElementById("output_text").innerHTML = outputText;
            //document.getElementById("error_text").innerHTML = errorText;
        }
    </script>
    </head>

    <body>
        <span>
            Please enter your information below:</p>
        </span>
        <!-- add into .js file later -->
        <form name="input_form" action="javascript:validate();">
            1. Gender (M/F):
            <select id="gterm">
                <option value=""></option>
                <option value="m">Male</option>
                <option value="f">Female</option>
            </select>
            <br><br>
            2. How active are you? On a scale of 1 to 5:
            <select id="actterm">
                <option value=""></option>
                <option value="1">(1) Never exercise</option>
                <option value="2">(2) Exercise 1-3 times a week</option>
                <option value="3">(3) Exercise 3-5 times a week</option>
                <option value="4">(4) Exercise 6-7 times a week</option>
                <option value="5">(5) You are a professional athlete</option>
            </select>
            <br><br>
            3. Weight (lbs): <input type="text" name="wterm" size="5" required>
            <br><br>
            4. Height (in): <input type="text" name="hterm" size="5" required>
            <br><br>
            5. Age (yrs): <input type="text" name="aterm" size="5" required>
            <br><br>
            <input type="submit" value="Calculate">
        </form>
        <p>Calories burned naturally:</p>
        <p id="output_text"></p>

</html>