<html>
    <head>
        <title>Da Fitness App</title>
    </head>
    <body>
        <h1>Da Fitness App:</h1>
        <script>
            var w, h, a, act, g;
            var outputText, errorText;

            function validate() {

                // get the input
                g = document.forms["input_form"]["gterm"].value;
                act = document.forms["input_form"]["actterm"].value;
                w = document.forms["input_form"]["wterm"].value;
                h = document.forms["input_form"]["hterm"].value;
                a = document.forms["input_form"]["aterm"].value;
                // validate a, b, and c

                if (h == 0) {
                    errorText = "<em>Height</em> cannot equal zero!"
                }
                else if (a == 0) {
                    errorText = "<em>Age</em> cannot equal zero!"
                }
                else if(isNaN(w)) {
                    errorText = "<em>a</em> must be a number!"
                }
                else if(isNaN(h)) {
                    errorText = "<em>b</em> must be a number!"
                }
                else if(isNaN(a)) {
                    errorText = "<em>c</em> must be a number!"
                }
                if (g == "M" || g =="m") {
                    if (act == 1) {
                        outputText = 1.2 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                    }
                    else if (act == 2) {
                        outputText = 1.375 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                    }
                    else if (act == 3) {
                        outputText = 1.55 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                    }
                    else if (act == 4) {
                        outputText = 1.725 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                    }
                    else if (act == 5) {
                        outputText = 1.9 * (65 + (6.2 * w) + (12.7 * h) - (6.8 * a));
                    }
                    else {
                        outputText = "Error! Please check <em>Questions 2</em>"
                    }
                }
                else if (g == "F" || g == "f") {
                    if (act == 1) {
                        outputText = 1.2 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                    }
                    else if (act == 2) {
                        outputText = 1.375 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                    }
                    else if (act == 3) {
                        outputText = 1.55 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                    }
                    else if (act == 4) {
                        outputText = 1.725 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                    }
                    else if (act == 5) {
                        outputText = 1.9 * (655 + (4.2 * w) + (4.3 * h) - (4.7 * a));
                    }
                    else {
                        outputText = "Error! Please check <em>Questions 2</em>"
                    }
                }
                else {
                    outputText = "Please enter a vailid answer for <em>Questions 1</em>"
                }

                //output the result (or errors)
                document.getElementById("output_text").innerHTML = outputText;
                //document.getElementById("error_text").innerHTML = errorText;
            }
        </script>
    </head>
    <body>
        <p> Please enter your information below:</p>
        <form name ="input_form" action="javascript:validate();">
            1. Gender (M/F): 
            <select id="gterm">
                <option value="m">Male</option>
                <option value="f">Female</option>
             </select>
            <br><br>
            2. How active are you? On a scale of 1 being not active and 3 being very active: <input type ="text" name ="actterm" size="1" required>
            <br><br>
            3. Weight in (lbs): <input type ="text" name ="wterm" size="5" required>
            <br><br>
            4. Height in (in): <input type ="text" name ="hterm" size="5" required>
            <br><br>
            5. Age in (years): <input type ="text" name ="aterm" size="5" required>
            <br><br>
            <input type="submit" value="Calculate">
        </form>
        <p id="output_text"></p>
    </body>
        <h2>How many calories did you consume for breakfast?</h2>
        <input type="number" /> cals
        <h2>How many calories did you consume for lunch?</h2>
        <input type="number" /> cals
        <h2>How many calories did you consume for dinner?</h2>
        <input type="number" /> cals
        <h2>How many calories did you consume for snacks?</h2>
        <input type="number" /> cals
        <ul><a href="{% url 'fitness:results' %}">Press for results</a></ul>
    </body>
</html>