{% extends "dafitnessapp/base.html" %}

{% block content %}
<html>
    <h1>Comments/Suggestions</h1>
    <p>
        Please feel free to input your opinions about this app below:
    </p>
    <br><br>
    <!-- This is where the user can put in their thoughts, while being able to delete or update their messages -->
    {% if user.is_authenticated %}
        <a href="{% url 'dafitnessapp:create' %}">Create a new comment</a>
    {% else %}
    Please <a href="{% url 'accounts:login' %}" class="ml-2">Sign In</a> or <a href="{% url 'accounts:signup' %}"
        class="ml-2">Create An Account</a> to create a post.<br><br>
    {% endif %}

    {% if dafitnessapp_list %}
        {% for dafitnessapp in dafitnessapp_list %}
        <article class="post">
            <h2>{{ dafitnessapp.title }}</h2>
            <time class="date">
                Published By: {{ dafitnessapp.author }}
                <br>
                Created Date: {{ dafitnessapp.created_date }}
            </time>
            {% if user == dafitnessapp.author %}
                {% if user.is_authenticated %}
                    <aside class="actions">
                        <a href="{% url 'dafitnessapp:update' pk=dafitnessapp.pk %}">Edit</a>
                        <a href="{% url 'dafitnessapp:delete' pk=dafitnessapp.pk %}">Delete</a>
                    </aside>
                {% endif %}
            {% endif %}
            <p>{{ dafitnessapp.text|linebreaksbr }}</p>
        </article>
        {% endfor %}
    {% else %}
        <p>No Posts are available.</p>
    {% endif %}
</html>
{% endblock %}